{
  "presets": ["es2015", "react"],
  "plugins": [
    ["react-intl", {
      "messagesDir": "./build/messages",
      "enforceDescriptions": false
    }],
    "transform-object-rest-spread", "transform-runtime"
  ]
}
